<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ></p>
    <p><a href='/docsBD/In                                                                                                                                                                                                                                                      dex.htm  l' target="                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          blank">Docs BD</a></p>
    <ol>
      <li><a href='/api/tbl_parametros' />TBL_PARAMETROS</a>
        <ul>
        <li>get --> /api/tbl_parametros</li>
        <li>get --> /api/tbl_parametros/:id</li>
        <li>post --> /api/tbl_parametros</li>
        <li>put --> /api/tbl_parametros/:id</li>
        <li>delete --> /api/tbl_parametros/:id</li>
        </ul>
      </li>
      
      <li><a href='/api/tbl_artista' />TBL_ARTISTA</a>
        <ul>
          <li>get --> /api/tbl_artista</li>
          <li>get --> /api/tbl_artista/:id</li>
          <li>post --> /api/tbl_artista</li>
          <li>put --> /api/tbl_artista/:id</li>
          <li>delete --> /api/tbl_artista/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_canciones' />TBL_CANCIONES</a>
        <ul>
          <li>get --> /api/tbl_canciones</li>
          <li>get --> /api/tbl_canciones/:id</li>
          <li>post --> /api/tbl_canciones</li>
          <li>put --> /api/tbl_canciones/:id</li>
          <li>delete --> /api/tbl_canciones/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_cartas' />TBL_CARTAS</a>
        <ul>
          <li>get --> /api/tbl_cartas</li>
          <li>get --> /api/tbl_cartas/:id</li>
          <li>post --> /api/tbl_cartas</li>
          <li>put --> /api/tbl_cartas/:id</li>
          <li>delete --> /api/tbl_cartas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_discotecas' />TBL_DISCOTECAS</a>
        <ul>
          <li>get --> /api/tbl_discotecas</li>
          <li>get --> /api/tbl_discotecas/:id</li>
          <li>post --> /api/tbl_discotecas</li>
          <li>put --> /api/tbl_discotecas/:id</li>
          <li>delete --> /api/tbl_discotecas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_encuesta' />TBL_ENCUESTA</a>
        <ul>
          <li>get --> /api/tbl_encuesta</li>
          <li>get --> /api/tbl_encuesta/:id</li>
          <li>post --> /api/tbl_encuesta</li>
          <li>put --> /api/tbl_encuesta/:id</li>
          <li>delete --> /api/tbl_encuesta/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_eventos' />TBL_EVENTOS</a>
        <ul>
          <li>get --> /api/tbl_eventos</li>
          <li>get --> /api/tbl_eventos/:id</li>
          <li>post --> /api/tbl_eventos</li>
          <li>put --> /api/tbl_eventos/:id</li>
          <li>delete --> /api/tbl_eventos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_funcionarios' />TBL_FUNCIONARIOS</a>
        <ul>
          <li>get --> /api/tbl_funcionarios</li>
          <li>get --> /api/tbl_funcionarios/:id</li>
          <li>post --> /api/tbl_funcionarios</li>
          <li>put --> /api/tbl_funcionarios/:id</li>
          <li>delete --> /api/tbl_funcionarios/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_generos_fav' />TBL_GENEROS_FAV</a>
        <ul>
          <li>get --> /api/tbl_generos_fav</li>
          <li>get --> /api/tbl_generos_fav/:id</li>
          <li>post --> /api/tbl_generos_fav</li>
          <li>put --> /api/tbl_generos_fav/:id</li>
          <li>delete --> /api/tbl_generos_fav/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_listas' />TBL_LISTAS</a>
        <ul>
          <li>get --> /api/tbl_listas</li>
          <li>get --> /api/tbl_listas/:id</li>
          <li>post --> /api/tbl_listas</li>
          <li>put --> /api/tbl_listas/:id</li>
          <li>delete --> /api/tbl_listas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_mesas' />TBL_MESAS</a>
        <ul>
          <li>get --> /api/tbl_mesas</li>
          <li>get --> /api/tbl_mesas/:id</li>
          <li>post --> /api/tbl_mesas</li>
          <li>put --> /api/tbl_mesas/:id</li>
          <li>delete --> /api/tbl_mesas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_pedidos' />TBL_PEDIDOS</a>
        <ul>
          <li>get --> /api/tbl_pedidos</li>
          <li>get --> /api/tbl_pedidos/:id</li>
          <li>post --> /api/tbl_pedidos</li>
          <li>put --> /api/tbl_pedidos/:id</li>
          <li>delete --> /api/tbl_pedidos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_personas' />TBL_PERSONAS</a>
        <ul>
          <li>get --> /api/tbl_personas</li>
          <li>get --> /api/tbl_personas/:id</li>
          <li>post --> /api/tbl_personas</li>
          <li>put --> /api/tbl_personas/:id</li>
          <li>delete --> /api/tbl_personas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_personas_discos' />TBL_PERSONAS_DISCOS</a>
        <ul>
          <li>get --> /api/tbl_personas_discos</li>
          <li>get --> /api/tbl_personas_discos/:id</li>
          <li>post --> /api/tbl_personas_discos</li>
          <li>put --> /api/tbl_personas_discos/:id</li>
          <li>delete --> /api/tbl_personas_discos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_pqrs' />TBL_PQRS</a>
        <ul>
          <li>get --> /api/tbl_pqrs</li>
          <li>get --> /api/tbl_pqrs/:id</li>
          <li>post --> /api/tbl_pqrs</li>
          <li>put --> /api/tbl_pqrs/:id</li>
          <li>delete --> /api/tbl_pqrs/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_precios_boletas' />TBL_PRECIOS_BOLETAS</a>
        <ul>
          <li>get --> /api/tbl_precios_boletas</li>
          <li>get --> /api/tbl_precios_boletas/:id</li>
          <li>post --> /api/tbl_precios_boletas</li>
          <li>put --> /api/tbl_precios_boletas/:id</li>
          <li>delete --> /api/tbl_precios_boletas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_productos_pedido' />TBL_PRODUCTOS_PEDIDO</a>
        <ul>
          <li>get --> /api/tbl_productos_pedido</li>
          <li>get --> /api/tbl_productos_pedido/:id</li>
          <li>post --> /api/tbl_productos_pedido</li>
          <li>put --> /api/tbl_productos_pedido/:id</li>
          <li>delete --> /api/tbl_productos_pedido/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_productos' />TBL_PRODUCTOS</a>
        <ul>
          <li>get --> /api/tbl_productos</li>
          <li>get --> /api/tbl_productos/:id</li>
          <li>post --> /api/tbl_productos</li>
          <li>put --> /api/tbl_productos/:id</li>
          <li>delete --> /api/tbl_productos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_productos_carta' />TBL_PRODUCTOS_CARTA</a>
        <ul>
          <li>get --> /api/tbl_productos_carta</li>
          <li>get --> /api/tbl_productos_carta/:id</li>
          <li>post --> /api/tbl_productos_carta</li>
          <li>put --> /api/tbl_productos_carta/:id</li>
          <li>delete --> /api/tbl_productos_carta/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_promociones' />TBL_PROMOCIONES</a>
        <ul>
          <li>get --> /api/tbl_promociones</li>
          <li>get --> /api/tbl_promociones/:id</li>
          <li>post --> /api/tbl_promociones</li>
          <li>put --> /api/tbl_promociones/:id</li>
          <li>delete --> /api/tbl_promociones/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_reservas' />TBL_RESERVAS</a>
        <ul>
          <li>get --> /api/tbl_reservas</li>
          <li>get --> /api/tbl_reservas/:id</li>
          <li>post --> /api/tbl_reservas</li>
          <li>put --> /api/tbl_reservas/:id</li>
          <li>delete --> /api/tbl_reservas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_servicios_discoteca' />TBL_SERVICIOS_DISCOTECA</a>
        <ul>
          <li>get --> /api/tbl_servicios_discoteca</li>
          <li>get --> /api/tbl_servicios_discoteca/:id</li>
          <li>post --> /api/tbl_servicios_discoteca</li>
          <li>put --> /api/tbl_servicios_discoteca/:id</li>
          <li>delete --> /api/tbl_servicios_discoteca/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_suscriptores' />TBL_SUSCRIPTORES</a>
        <ul>
          <li>get --> /api/tbl_suscriptores</li>
          <li>get --> /api/tbl_suscriptores/:id</li>
          <li>post --> /api/tbl_suscriptores</li>
          <li>put --> /api/tbl_suscriptores/:id</li>
          <li>delete --> /api/tbl_suscriptores/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_votos_canciones' />TBL_VOTOS_CANCIONES</a>
        <ul>
          <li>get --> /api/tbl_votos_canciones</li>
          <li>get --> /api/tbl_votos_canciones/:id</li>
          <li>post --> /api/tbl_votos_canciones</li>
          <li>put --> /api/tbl_votos_canciones/:id</li>
          <li>delete --> /api/tbl_votos_canciones/:id</li>
          </ul>
      </li>
    </ol>
  </body>
</html>
