<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p><a href='/docsBD/Index.html'>Docs BD</a></p>
    <ol>
      <li><a href='/api/tbl_parametros/all/' />TBL_PARAMETROS</a>
        <ul>
        <li>get --> /api/tbl_parametros/all/</li>
        <li>get --> /api/tbl_parametros/id/:id</li>
        <li>get --> /api/tbl_parametros/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
        <li>post --> /api/tbl_parametros</li>
        <li>put --> /api/tbl_parametros/:id</li>
        <li>delete --> /api/tbl_parametros/id/:id</li>
        <li>delete --> /api/tbl_parametros/rem/param1:vlr1,param2:vlr2,paramN:vlrN</li>
        </ul>
      </li>
      
      <li><a href='/api/tbl_artista/all/' />TBL_ARTISTA</a>
        <ul>
          <li>get --> /api/tbl_artista/all/</li>
          <li>get --> /api/tbl_artista/id/:id</li>
          <li>get --> /api/tbl_artista/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_artista</li>
          <li>put --> /api/tbl_artista/:id</li>
          <li>delete --> /api/tbl_artista/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_canciones/all/' />TBL_CANCIONES</a>
        <ul>
          <li>get --> /api/tbl_canciones/all/</li>
          <li>get --> /api/tbl_canciones/id/:id</li>
          <li>get --> /api/tbl_canciones/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_canciones</li>
          <li>put --> /api/tbl_canciones/:id</li>
          <li>delete --> /api/tbl_canciones/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_cartas/all/' />TBL_CARTAS</a>
        <ul>
          <li>get --> /api/tbl_cartas/all/</li>
          <li>get --> /api/tbl_cartas/id/:id</li>
          <li>get --> /api/tbl_cartas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_cartas</li>
          <li>put --> /api/tbl_cartas/:id</li>
          <li>delete --> /api/tbl_cartas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_discotecas/all/' />TBL_DISCOTECAS</a>
        <ul>
          <li>get --> /api/tbl_discotecas/all/</li>
          <li>get --> /api/tbl_discotecas/id/:id</li>
          <li>get --> /api/tbl_discotecas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_discotecas</li>
          <li>put --> /api/tbl_discotecas/:id</li>
          <li>delete --> /api/tbl_discotecas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_encuesta/all/' />TBL_ENCUESTA</a>
        <ul>
          <li>get --> /api/tbl_encuesta/all/</li>
          <li>get --> /api/tbl_encuesta/id/:id</li>
          <li>get --> /api/tbl_encuesta/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_encuesta</li>
          <li>put --> /api/tbl_encuesta/:id</li>
          <li>delete --> /api/tbl_encuesta/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_eventos/all/' />TBL_EVENTOS</a>
        <ul>
          <li>get --> /api/tbl_eventos/all/</li>
          <li>get --> /api/tbl_eventos/id/:id</li>
          <li>get --> /api/tbl_eventos/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_eventos</li>
          <li>put --> /api/tbl_eventos/:id</li>
          <li>delete --> /api/tbl_eventos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_funcionarios/all/' />TBL_FUNCIONARIOS</a>
        <ul>
          <li>get --> /api/tbl_funcionarios/all/</li>
          <li>get --> /api/tbl_funcionarios/id/:id</li>
          <li>get --> /api/tbl_funcionarios/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_funcionarios</li>
          <li>put --> /api/tbl_funcionarios/:id</li>
          <li>delete --> /api/tbl_funcionarios/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_generos_fav/all/' />TBL_GENEROS_FAV</a>
        <ul>
          <li>get --> /api/tbl_generos_fav/all/</li>
          <li>get --> /api/tbl_generos_fav/id/:id</li>
          <li>get --> /api/tbl_generos_fav/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_generos_fav</li>
          <li>put --> /api/tbl_generos_fav/:id</li>
          <li>delete --> /api/tbl_generos_fav/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_listas/all/' />TBL_LISTAS</a>
        <ul>
          <li>get --> /api/tbl_listas/all/</li>
          <li>get --> /api/tbl_listas/id/:id</li>
          <li>get --> /api/tbl_listas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_listas</li>
          <li>put --> /api/tbl_listas/:id</li>
          <li>delete --> /api/tbl_listas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_mesas/all/' />TBL_MESAS</a>
        <ul>
          <li>get --> /api/tbl_mesas/all/</li>
          <li>get --> /api/tbl_mesas/id/:id</li>
          <li>get --> /api/tbl_mesas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_mesas</li>
          <li>put --> /api/tbl_mesas/:id</li>
          <li>delete --> /api/tbl_mesas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_pedidos/all/' />TBL_PEDIDOS</a>
        <ul>
          <li>get --> /api/tbl_pedidos/all/</li>
          <li>get --> /api/tbl_pedidos/id/:id</li>
          <li>get --> /api/tbl_pedidos/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_pedidos</li>
          <li>put --> /api/tbl_pedidos/:id</li>
          <li>delete --> /api/tbl_pedidos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_personas/all/' />TBL_PERSONAS</a>
        <ul>
          <li>get --> /api/tbl_personas/all/</li>
          <li>get --> /api/tbl_personas/id/:id</li>
          <li>get --> /api/tbl_personas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_personas</li>
          <li>put --> /api/tbl_personas/:id</li>
          <li>delete --> /api/tbl_personas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_personas_discos/all/' />TBL_PERSONAS_DISCOS</a>
        <ul>
          <li>get --> /api/tbl_personas_discos/all/</li>
          <li>get --> /api/tbl_personas_discos/id/:id</li>
          <li>get --> /api/tbl_personas_discos/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_personas_discos</li>
          <li>put --> /api/tbl_personas_discos/:id</li>
          <li>delete --> /api/tbl_personas_discos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_pqrs/all/' />TBL_PQRS</a>
        <ul>
          <li>get --> /api/tbl_pqrs/all/</li>
          <li>get --> /api/tbl_pqrs/id/:id</li>
          <li>get --> /api/tbl_pqrs/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_pqrs</li>
          <li>put --> /api/tbl_pqrs/:id</li>
          <li>delete --> /api/tbl_pqrs/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_precios_boletas/all/' />TBL_PRECIOS_BOLETAS</a>
        <ul>
          <li>get --> /api/tbl_precios_boletas/all/</li>
          <li>get --> /api/tbl_precios_boletas/id/:id</li>
          <li>get --> /api/tbl_precios_boletas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_precios_boletas</li>
          <li>put --> /api/tbl_precios_boletas/:id</li>
          <li>delete --> /api/tbl_precios_boletas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_productos_pedido/all/' />TBL_PRODUCTOS_PEDIDO</a>
        <ul>
          <li>get --> /api/tbl_productos_pedido/all/</li>
          <li>get --> /api/tbl_productos_pedido/id/:id</li>
          <li>get --> /api/tbl_productos_pedido/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_productos_pedido</li>
          <li>put --> /api/tbl_productos_pedido/:id</li>
          <li>delete --> /api/tbl_productos_pedido/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_productos/all/' />TBL_PRODUCTOS</a>
        <ul>
          <li>get --> /api/tbl_productos/all/</li>
          <li>get --> /api/tbl_productos/id/:id</li>
          <li>get --> /api/tbl_productos/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_productos</li>
          <li>put --> /api/tbl_productos/:id</li>
          <li>delete --> /api/tbl_productos/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_productos_carta/all/' />TBL_PRODUCTOS_CARTA</a>
        <ul>
          <li>get --> /api/tbl_productos_carta/all/</li>
          <li>get --> /api/tbl_productos_carta/id/:id</li>
          <li>get --> /api/tbl_productos_carta/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_productos_carta</li>
          <li>put --> /api/tbl_productos_carta/:id</li>
          <li>delete --> /api/tbl_productos_carta/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_promociones/all/' />TBL_PROMOCIONES</a>
        <ul>
          <li>get --> /api/tbl_promociones/all/</li>
          <li>get --> /api/tbl_promociones/id/:id</li>
          <li>get --> /api/tbl_promociones/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_promociones</li>
          <li>put --> /api/tbl_promociones/:id</li>
          <li>delete --> /api/tbl_promociones/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_reservas/all/' />TBL_RESERVAS</a>
        <ul>
          <li>get --> /api/tbl_reservas/all/</li>
          <li>get --> /api/tbl_reservas/id/:id</li>
          <li>get --> /api/tbl_reservas/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_reservas</li>
          <li>put --> /api/tbl_reservas/:id</li>
          <li>delete --> /api/tbl_reservas/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_servicios_discoteca/all/' />TBL_SERVICIOS_DISCOTECA</a>
        <ul>
          <li>get --> /api/tbl_servicios_discoteca/all/</li>
          <li>get --> /api/tbl_servicios_discoteca/id/:id</li>
          <li>get --> /api/tbl_servicios_discoteca/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_servicios_discoteca</li>
          <li>put --> /api/tbl_servicios_discoteca/:id</li>
          <li>delete --> /api/tbl_servicios_discoteca/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_suscriptores/all/' />TBL_SUSCRIPTORES</a>
        <ul>
          <li>get --> /api/tbl_suscriptores/all/</li>
          <li>get --> /api/tbl_suscriptores/id/:id</li>
          <li>get --> /api/tbl_suscriptores/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_suscriptores</li>
          <li>put --> /api/tbl_suscriptores/:id</li>
          <li>delete --> /api/tbl_suscriptores/:id</li>
          </ul>
      </li>
      <li><a href='/api/tbl_votos_canciones/all/' />TBL_VOTOS_CANCIONES</a>
        <ul>
          <li>get --> /api/tbl_votos_canciones/all/</li>
          <li>get --> /api/tbl_votos_canciones/id/:id</li>
          <li>get --> /api/tbl_votos_canciones/qry/param1:vlr1,param2:vlr2,paramN:vlrN</li>
          <li>post --> /api/tbl_votos_canciones</li>
          <li>put --> /api/tbl_votos_canciones/:id</li>
          <li>delete --> /api/tbl_votos_canciones/:id</li>
          </ul>
      </li>
    </ol>
  </body>
</html>
